###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
#
# NOTE: This config file is intended to serve as an *extremely* simple
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################



###############################################################################
#
# HOST DEFINITION
#
###############################################################################

# Define a host for the local machine

define host {

    use                     linux-server
    host_name               viewadmin04
    alias                   viewadmin04
    address                 10.250.4.4
}



###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################

# Define an optional hostgroup for Linux machines

define hostgroup {

    hostgroup_name          viewadmin04
    alias                   viewadmin04
    members                 viewadmin04
}



define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin04
    service_description     current_load_04
    check_command           check_nrpe!check_load
    notifications_enabled   0
}

define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin04
    service_description     Current_Users_04
    check_command           check_nrpe!check_users
}

define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin04
    service_description     SSH_04
    check_command           check_nrpe!check_ssh
    notifications_enabled   0
}


define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin04
    service_description     check_procs_04
    check_command           check_nrpe!check_procs
    notifications_enabled   0
}

define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin04
    service_description     grafana_04
    check_command           check_nrpe!check_grafana
    notifications_enabled   0
}


define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin04
    service_description     influxdb_04
    check_command           check_nrpe!check_influxdb
    notifications_enabled   0
}


define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin04
    service_description     prometheus_04
    check_command           check_nrpe!check_prometheus
    notifications_enabled   0
}


define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin04
    service_description     mailhog_http_04
    check_command           check_nrpe!check_mailhog_http
    notifications_enabled   0
}


define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin04
    service_description     mailhog_smtp_04
    check_command           check_nrpe!check_mailhog_smtp
    notifications_enabled   0
}

